.nft-wrap {
  border-radius: var(--card-border-radius);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nft-wrap > svg {
  width: 100%;
  height: auto;
  flex: 1;
  margin-top: -60px;
  margin-bottom: -80px;
}

.nft-wrap > svg > g > rect:first-of-type {
  display: none;
}
.nft-wrap > svg > g > circle:first-of-type {
  display: none;
}